
[class="top"]{

    color: rgba(0, 128, 0, 0.644);
    border: 5px solid-yellow;
}


/* .top{
    color: aqua;
} */

.abc{
    color: blue;
}

/* [class~="abc"]{
    color: violet;
} */


h3#hash{
    font-weight: bolder;
}